body {
    font-family: Arial, sans-serif;
    background-color: #ffd24d;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Centering the form */
main {
    text-align: center;
}

h2 {
    padding-bottom: 10px;
    color: #b66c46;
}
.form-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

/* Form elements styling */
form {
    margin-bottom: 70px;
}
form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    font-size: 14px;
    /* margin-bottom: 0px; */
    color: #b66c46;
}
form input {
    width: calc(100% - 20px);
    padding: 8px;
    font-size: 14px;
    border-radius: 8px;
    border: 2px solid #eee;
}
form input:focus {
    outline: none;
    border-color: #14798f;
}
form input:focus:invalid {
    border-color: red;
}
form fieldset {
    border: 2px solid #14798f;
    background-color: #ffd24d;
    padding: 1px;
    margin-bottom: 15px;
    border-radius: 8px;
}
form fieldset input {
    border: 1px solid #ccc;
    padding: 1px;
    font-size: 14px;
    border-radius: 8px;
    border: 2px solid #eee;

    display: flex;
}
form fieldset label {
}
fieldset legend {
    color: #14798f;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* General styling */
.radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 7px; /* Add spacing between options */
}
.radio-group input[type="radio"] {
    margin-left: 30px;
    margin-right: -130px; /* Space between button and label */
    margin-bottom: 7px;
}

/* Button styling */
form button {
    background-color: #14798f;
    color: white;
    border: none;
    padding: 10px;
    width: calc(70% - 20px);
    font-size: 16px;
    border-radius: 11px;
    margin-top: 10px;
}

form button:hover {
    background-color: #01754f;
}
