* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    dsiplay: grid;
    height: 150vh;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: aquamarine;
    text-align: center;
    padding: 2em;
}

main {
    background-color: azure;
    text-align: center;
    padding: 2em;
}

footer {
    background-color: antiquewhite;
    text-align: center;
    padding: 2em;
}
